# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Misc
*.log

# (Intentionally NOT ignoring built CSS output for GH Pages)
# assets/css/tailwind.output.css
